<h2>Starting Point</h2>
<div id="locationField">
  <input id="startingPoint" placeholder="Enter your address"
        onFocus="geolocate()" type="text"></input>
</div>

<h2>Destination</h2>
<div id="locationField">
  <input id="destination" placeholder="Enter your address"
         onFocus="geolocate()" type="text"></input>
</div>

<h4>Path:</h4>
<%= @path %>
