<!DOCTYPE html>
<html>
<head>
  <title>LagosTripPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDp7GDjTFk5ZFaEFYRpdmMIyjF0OC-ud4&libraries=places&callback=initAutocomplete"
    async defer></script>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>
<body>

<%= yield %>

</body>
</html>
